@import "tailwindcss";
/* 
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: "Montserrat", sans-serif;
// } */

body {
  overflow-x: hidden;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 50, 50);
}
